{% extends("::base.html.twig") %}

{% block stylesheets %}
<style>
.footer {
    font-size: 90%;
    color: gray;
    margin-top: 20px;
}
</style>
{% endblock stylesheets %}

{% block body %}

<div class="container">

      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="{{ path('_home') }}">Início</a></li>
          <li><a href="{{ path('_map') }}">Pontos de Coleta</a></li>
          {% if is_granted('ROLE_USER') %}
          <li><a href="{{ path('_user') }}">Área restrita</a></li>
          <li><a href="{{ path('_logout') }}">Desconectar</a></li>
          {% else %}
          <li><a href="{{ url("hwi_oauth_service_redirect", {service: "facebook", destination: "_user"}) }}">Entrar via Facebook</a></li>
          {% endif %}
        </ul>
        <h3 class="text-muted">UFSCar - Ciências do Ambiente para a Engenharia Física</h3>
      </div>

{% block content %}{% endblock content %}

      <div class="footer">
        <p>&copy; Cesar Rabani, Diego Costa, Fernando Tateno, Filipe Hori, Rafael Santos. 2014</p>
        {{ render(controller('EnfiCienciasDoAmbienteCommonEntitiesBundle:Util:gitVersion')) }}
      </div>

    </div> <!-- /container -->

{% endblock body %} 
